.Button {
  font-size: 28px;
  border: none;
  box-sizing: border-box;
  background-color: #f7931a;
  text-transform: uppercase;
  font-family: "Teko";
  color: white;
  line-height: 40px;
  height: 40px;
  width: 200px;
  letter-spacing: 1px;
}

.Button--outline {
  background: transparent;
  border: 2px solid #f7931a;
  color: #f7931a;
}

.Button:hover {
  cursor: pointer;
  color: #444;
}

.Button--outline:hover {
  color: #444;
  background: #f7931a;
}

.Button:focus {
  outline: none;
}
.Button--disabled {
  background: grey;
  color: rgba(255, 255, 255, 0.5);
}
.Button--disabled:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
