.TextInput__input {
  border: none;
  font-size: 18px;
  color: white;
  width: 175px;
  height: 40px;
  background-color: transparent;
  border-bottom: 2px solid #f7931a;
  text-align: left;
  padding-left: 7px;
  padding-right: 7px;
}
.TextInput__input:hover {
  cursor: pointer;
}
.TextInput__input:focus {
  outline: none;
}
.TextInput__label {
  color: #f7931a;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Teko;
  display: block;
  font-size: 18px;
}

@media (max-width: 500px) {
  .TextInput {
    width: 100%;
    margin-bottom: 16px;
  }
  .TextInput__input {
    width: 100%;
  }
}
