.dropdown {
	position: relative;
}

.dropdown_button {
	background-color: #2ecc71;
	border: none;
	font-size: 18px;
	color: white;
	width: 100px;
	height: 40px;
}

.dropdown_menu {
	display: none;
	position: absolute;
	top: 40px;
	left: 43px;
	background-color: #ecf0f1;
	z-index: 10;
	width: 100px;
}

.dropdown_menu--open {
	display: block;
}

.dropdown_menu_item {
	padding: 6px 0;
}

.dropdown_menu_item:hover {
	cursor: pointer;
}
