.dropdown {
  position: relative;
}

.dropdown_button {
  border: none;
  font-size: 18px;
  color: white;
  width: 175px;
  height: 40px;
  background-color: transparent;
  border-bottom: 2px solid #f7931a;
  text-align: left;
  margin-top: 4px;
}
.dropdown_button--noValue {
  color: #777777;
  font-weight: normal;
}
.dropdown__label {
  color: #f7931a;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Teko;
  display: block;
  font-size: 18px;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 102%;
  left: 0;

  z-index: 10;
  width: 100%;
  text-align: center;

  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 12px;
}

.dropdown_menu--open {
  display: block;
}

.dropdown_menu_item {
  padding: 6px 0;
  border: 2px solid #ebebeb;
  border-bottom: none;
  background-color: #444444;
  color: #f7931a;
}
.dropdown_menu_item:last-of-type {
  border-bottom: 2px solid #ebebeb;
}

.dropdown_menu_item:hover {
  cursor: pointer;
  background-color: #f7931a;
  color: #444444;
}

@media (max-width: 500px) {
  .dropdown {
    width: 100%;
    margin-bottom: 16px;
  }
  .dropdown_button {
    width: 100%;
  }
}
