.dropdown {
	position: relative;
}

.dropdown_button {
	border: none;
	font-size: 18px;
	color: white;
	width: 150px;
	height: 40px;
	background-color: transparent;
	border-bottom: 2px solid #F7931A;
	text-align: left;
}
.dropdown__label {
		color: #F7931A;
		text-transform: uppercase;
		letter-spacing: 1px;
	  font-family: Teko;
		display: block;
		font-size: 18px;
}

.dropdown_menu {
	display: none;
	position: absolute;
	top: 40px;
	left: 43px;
	background-color: #ecf0f1;
	z-index: 10;
	width: 100px;
}

.dropdown_menu--open {
	display: block;
}

.dropdown_menu_item {
	padding: 6px 0;
}

.dropdown_menu_item:hover {
	cursor: pointer;
}
