.header {
  color: white;
  height: 50px;
  background: #222;
  position: fixed;
  width: 100%;
  font-family: Teko;
  z-index: 100;
}

.header_link {
  padding: 0 16px;
  background-color: #f7931a;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  transform: skewX(-20deg);
  font-size: 24px;
  letter-spacing: 1.75;
  transition: all ease 0.3s;
  border-right: 6px solid #333;
}
.header_link:first-child::before {
  content: "";
  width: 20px;
  height: 50px;
  background-color: #f7931a;
  position: absolute;
  left: -11px;
  transition: all ease 0.3s;
}
.header_link:last-child {
  border: none;
}
.header_link:hover {
  background: #333;
  color: #f7931a;
}
.header_link:hover::before {
  background: #333;
  color: #f7931a;
}

.header_title {
  margin-left: 40px;
  color: #f7931a;
  margin-bottom: 0;
  margin-top: 0;
  transform: skewX(-20deg);
}

@media (max-width: 400px) {
  .header_title {
    margin-left: 20px;
  }
}
