.home {
  width: 100%;
  height: 100%;
  /* background-image: url(../../assets/bill-btc.jpg); */
  background-size: cover;
  background-color: #232323;
}

.home_body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  font-family: "Teko";
  font-size: 84px;
  color: #f7931a;
  margin-bottom: 0px;
  margin-top: 120px;
  line-height: 84px;
}
.home_text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  width: 50%;
  color: #f4f4f4;
  margin-top: 0;
  font-family: "Numans";
  text-align: center;
  margin-bottom: 40px;
}
