.home {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/bill-btc.jpg);
  background-size: cover;
}

.home_body {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
