.home {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #232323;
  overflow: auto;
}

.home_body {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 120px;
  width: auto;
  max-width: 980px;
  background-color: #232323;
  margin-bottom: 60px;
}
.title {
  font-family: "Teko";
  font-size: 84px;
  color: #f7931a;
  margin-bottom: 0px;
  display: inline-block;
  line-height: 84px;
}
.home_text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  max-width: 600px;
  color: #f4f4f4;
  margin-top: 0;
  font-family: "Numans";
  text-align: center;
  margin-bottom: 40px;
  display: inline-block;
}
