.home_body {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 120px;
  width: auto;
  max-width: 980px;
  background-color: #232323;
  margin-bottom: 60px;
  padding: 16px;
  border-radius: 4px;
}
.title {
  font-family: "Teko";
  font-size: 84px;
  color: #f7931a;
  margin-bottom: 0px;
  display: inline-block;
  line-height: 84px;
}
.home_text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  max-width: 600px;
  color: #f4f4f4;
  margin-top: 0;
  font-family: "Numans";
  text-align: center;
  margin-bottom: 40px;
  display: inline-block;
}

@media (max-width: 500px) {
  .title {
    text-align: center;
    font-size: 70px;
  }
}
