html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  background-color: #232323;
  overflow-x: hidden;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.link {
  text-decoration: none;
  color: black;
}
