html,
body,
#root {
}
body {
  background-color: #232323;
  overflow-x: hidden;
  overflow-y: auto;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.link {
  text-decoration: none;
  color: black;
}
