.Show {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: #232323;
  overflow: auto;
}

.Show__body {
  padding-top: 160px;
  width: 100%;

  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.Show__body__row {
  width: 100%;
  margin-bottom: 20px;
  max-width: 980px;
}

.RowHeading {
  font-family: "Orbitron";
  font-size: 40px;
  color: #ebebeb;
  font-weight: 700;
  margin: 0;
}

.RowHeading--small {
  font-size: 20px;
}
.RowValue {
  font-family: "Orbitron";
  font-size: 56px;
  color: #f7931a;
  font-weight: bold;
  margin: 0;
  margin-top: 8px;
}
.RowValue--small {
  font-size: 30px;
}

@media (max-width: 767px) {
  .Show__body__row {
    flex-direction: column !important;
    flex-wrap: noWrap !important;
  }
  .RowHeading,
  .RowValue {
    text-align: center;
  }
}

.loader,
.loader:before,
.loader:after {
  background: #f7931a;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #f7931a;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
