.Show {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: #232323;
  overflow: auto;
}

.Show__body {
  height: 100vh;
  padding-top: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.Show__body__row {
  width: 100%;
}

.RowHeading {
  font-family: "Orbitron";
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
.RowValue {
  font-family: "Orbitron";
  font-size: 60px;
  color: #f7931a;
  font-weight: bold;
}
